// - Light mode button -
button.color-mode__btn.light--hidden(aria-label='Toggle light mode')
    | Toggle Light Mode
    svg(aria-hidden='true')
        use(href='#sun')
// - Dark mode button -
button.color-mode__btn.dark--hidden(aria-label='Toggle dark mode')
    | Toggle Dark Mode
    svg(aria-hidden='true')
        use(href='#moon')
