extends @pug/base

append globals
    - pageName = 'home'
    - title = data[pageName]?.meta?.title ?? data.general.title
    - description = data[pageName]?.meta?.description ?? data.general.description
    - image = data[pageName]?.meta?.image ?? data.general.image

append vars
    - meta.keywords = data[pageName]?.meta?.keywords ?? data.general.keywords

    each linkValue, linkKey in data.general.link
        - link[linkKey] = linkValue

    each metaValue, metaKey in data.general.meta
        - meta[metaKey] = metaValue

block content
    .site(data-scroll-container)
        section.section.section--1(data-router-page=data.router.routes.home.id data-scroll-section data-scroll-events="none")
            include @pages/index/index
        section.section.section--2(data-router-page=data.router.routes.LevelOne.id data-scroll-section)
            include @pages/LevelOne/LevelOne
        section.section.section--3(data-router-page=data.router.routes.LevelTwo.id data-scroll-section)
            include @pages/LevelTwo/LevelTwo

