<!-- Yandex.Metrika counter -->
script(type='text/javascript').
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(52537759, "init", {
        defer: false,
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
    });
noscript
    div
        img(src='https://mc.yandex.ru/watch/52537759' style='position:absolute; left:-9999px;' alt='')
<!-- /Yandex.Metrika counter -->

<!-- Yandex.Metrika counter -->
script(type='text/javascript').
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter22765936 = new Ya.Metrika({
                    id: 22765936,
                    defer: false,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
noscript
    div
        img(src='https://mc.yandex.ru/watch/22765936' style='position:absolute; left:-9999px;' alt='')
<!-- /Yandex.Metrika counter -->
